NODE_ENV=

# App
PORT=
HOST=
API_PREFIX=

# JWT
JWT_SECRET=
JWT_EXPIRATION_TIME=

# Schema
DATABASE_DROP_SCHEMA=

# Postgres
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_SYNC=
POSTGRES_DB=

#Redis
REDIS_HOST=
REDIS_PORT=
REDIS_CACHE_PREFIX=
REDIS_BULL_PREFIX=

# Brevo (Gmail Service)
SENDINBLUE_API_KEY=

# Google API
GOOGLE_API_KEY=

# File Upload
PUBLIC_FOLDER=